altair
annotated-types
anyio
assemblyai
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
elevenlabs
eval_type_backport
executing
gitdb
GitPython
h11
httpcore
httpx
idna
ipython
jedi
Jinja2
jsonpath-python
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistralai
mpv
mypy-extensions
narwhals
numpy
packaging
pandas
parso
pillow
prompt_toolkit
protobuf
pure_eval
pyarrow
PyAudio
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
SpeechRecognition
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
wcwidth
websockets
